body{
  background-image: url("three.jpg");
}

h1{
  font-size: 12vw;
  color: white;
  font-family: 'Ranga', cursive;
  text-align: center;
}

h2{
  color: pink;
  text-align: left;
  border: .5px solid white;
  margin-top: 40px;
  font-family: 'Ranga', cursive;
  border-right: medium;
  border-left: medium;
}

h3{
  color: pink;
  margin-bottom: 24px;
  margin-top: 0px;
  text-align: center;
}

p{
  color: white;
  text-align: center;
  border: .5px outset white;
}

ol{
  color: pink;
  font-size: 16px;
  padding: 16px;
  text-align: center;
  line-height: 32px;
}

ul{
  color: pink;
  font-size: 16px;
  font-size: 1.25vw;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 18vw;
  border: 12px outset pink;
  margin-bottom: 4vw;
}

.well{
  background-color: grey;
}

.green{
  color: #c92469;
  font-style: italic;
}

em{
  color: white;
}

.worm{
  border: 2px solid white;
  padding: 10px;
  background: grey;
  float: left;
  margin-left: 25vw;
  width: 40vw;
  text-align: center;

}

.worm h2{
  margin-top: 0px;
  text-align: center;
  font-size: 4vw;
}



a{
  color: white;
  font-size: 16px;
}


.aboutme{
  margin-left: 36px;
  margin-right: 36px;
}


.row{
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 1000px) and (min-width:700px){
  .col-md-4{
    width: 200px;
    float: left;
  }

@media screen and (max-width: 600px){
  .col-md-4{
      width: 200px;
    }

.cherry span{
  color: black;
  text-align: center;
  margin-top; 2px;
}
