body{
  background-image: url("three.jpg");
  font-family: sans-serif;
}

h1{
  font-size: 44px;
  color: white;
  margin-top: 44px;
  margin-bottom: 20px;
  margin-left: 40px;
  font-family: verdana;
}

h2{
  color: pink;
  text-align: left;
  border: .5px solid white;
  border-left: medium;
  border-right: medium;
  margin-top: 40px;
  font-style: oblique;
}

h3{
  color: pink;
  margin-bottom: 24px;
  margin-top: 0px;
  text-align: center;
}

ol{
  color: white;
  font-size: 16px;
  padding: 16px;
}

ul{
  color: pink;
  font-size: 16px;
}

img{
  width: 200px;
  border: 12px outset pink;
  align-items: left;
  margin-left: 60px;
}

.well{
  background-color: #a2a3a5;
}

.green{
  color: #c92469;
  font-style: italic;
}

em{
  color: white;
}

.worm{
  float:right;
  margin-top: 30px;
  margin-left: 0px;
  border: 2px solid white;
  padding: 10px;
  background: grey;

}

.worm h2{
  margin-top: 0px;
}

a{
  color: white;
}
